.message {
  background-color: lightseagreen;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 20px;
  margin: 5px;
  
  &-owner {
    align-self: flex-start;
  }

  &-companion {
    align-self: flex-end;
  }
  &-sender{
    font-size: 14px;
  }
}

